@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');

html {
    background: url(img/map-bg.jpg) no-repeat center center fixed;
    background-size: cover;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
h1 {
    font-family: 'Supermercado One', cursive, sans-serif;
    font-size: 45px;
    color: #5d4037;
}
h2 {
    margin: 0;
    font-variant: small-caps;
    color: #6d4c41
}
dd {
    margin: 0 0 12px 0;
    display: flex;
}
dt {
    font-weight: bold;
    font-size: 20px;
}
nav {
    font-size: 10px;
}
#main {
    width: 900px;
    margin: 10px auto;
}
#menu {
    columns: 400px 2;
    column-gap: 100px;
    column-rule: 2px dashed #bc8f8f;
}
section {
    margin-bottom: 50px;
}
.details {
    order: 1;
}
.price {
    order: 2;
    padding-left: 10px;
    font-size: 20px;
    color: #b22222;
}
footer {
    border: 2px dashed #bc8f8f;
}
address {
    padding: 10px;
}